{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/site.css" %}" rel="stylesheet">
</head>
<body>
    <div id="page-title">
        <a href="/post"> <h1>Qilin Garden</h1> </a>
    </div>
    <div id="user-name">
        {% if user.is_authenticated %}
            <p> Welcome, {{ user.username }} </p>
        {% else %}
            <p> Hi </p>
        {% endif %}
    </div>

    <div id="account">
        {% if user.is_authenticated %}
            <a href="/account/logout">logout</a> |  <a href="/post/new">new post</a>
        {% else %}
            <a href="/account/login">login</a> | <a href="/account/signup">signup</a>
        {% endif %}
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
